@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Poppins', sans-serif;
    @apply bg-slate-900 ;
}

body::-webkit-scrollbar {
    display: none;
}

.content{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.content::-webkit-scrollbar {
    display: none;
}